src/**
out/**/*.map
node_modules/**
!node_modules/node-pty/**
!node_modules/node-addon-api/**
!node_modules/@xterm/**
.gitignore
.vscodeignore
jsconfig.json
tsconfig.json
setup.sh
.hintrc
ws.code-workspace
*.vsix